<div id="modalProductInfo1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 50 50" aria-hidden="true" focusable="false">
            <path d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
          </svg>
          <span class="icon icon-clear" aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="tt-layout-product-info-01">
          <div>
            <h1 style="text-align: center;">
              <img src="https://cdn.shopify.com/s/files/1/0079/4817/3412/files/2222.gif?v=1627826389" alt="מפת עוצמת אור" width="100%" height="">
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>