<div class="modal fade show" id="modalProductInfo" tabindex="-1" role="dialog" aria-label="myModalLabel" style="padding-right: 17px; display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <div class="modal-body">
        <div class="tt-layout-product-info">
          <div>
<h1 style="text-align: center;"><img src="https://cdn.shopify.com/s/files/1/0079/4817/3412/files/11_cd21a125-a1e0-4e0f-b4a5-686567d2573d.gif?v=1627387580" alt="מפת עוצמת אור" width="100%" height=""></h1>
</div>
        </div>
      </div>
    </div>
  </div>
</div>